# Senha de acesso ao sistema Paestro
APP_PASSWORD=insira_a_senha_aqui

# Conteúdo do arquivo JSON de credenciais do Google Cloud (em uma única linha)
GOOGLE_CREDENTIALS_JSON=insira_o_conteudo_do_json_em_uma_unica_linha_aqui